h1 {
  font-family: Bitcount Prop Single;
  font-size: 30px;
  margin-left: 50px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  margin-left: 50px;
}

.mgcar {
  margin-left: 50px;
  size: 120px;
}
